<footer class="bg-gray-800 text-white py-6 mt-10">
    <div class="container mx-auto text-center">
        <p class="text-lg">Hardik Khandal</p>
        <p class="text-sm">hardikkhandal@gmail.com</p>
        <p class="text-sm">8504088123</p>
        <div class="mt-4">
            <a href="https://github.com/your-github-username" target="_blank" class="text-white">
                <svg class="w-6 h-6 inline-block" fill="currentColor" viewBox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.207 11.387.6.11.793-.26.793-.577v-2.04c-3.338.724-4.042-1.613-4.042-1.613-.547-1.387-1.335-1.757-1.335-1.757-1.09-.744.083-.729.083-.729 1.205.084 1.837 1.236 1.837 1.236 1.07 1.835 2.807 1.306 3.493.998.11-.775.42-1.306.763-1.607-2.665-.3-5.467-1.335-5.467-5.933 0-1.313.467-2.386 1.236-3.23-.124-.302-.536-1.516.117-3.163 0 0 1.008-.323 3.3 1.23.96-.267 1.987-.4 3.01-.404 1.023.004 2.05.137 3.01.404 2.29-1.553 3.297-1.23 3.297-1.23.655 1.647.243 2.86.12 3.163.77.844 1.233 1.917 1.233 3.23 0 4.607-2.806 5.63-5.478 5.923.432.37.817 1.1.817 2.217v3.293c0 .32.19.694.8.575C20.565 21.797 24 17.3 24 12 24 5.37 18.63 0 12 0z"
                        clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </div>
</footer>