<head>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <!-- Other meta tags and title -->
</head>
<%- include('./partials/header') %>

    <% if(error.length> 0){ %>
        <div class="fixed top-5 left-1/2 transform -translate-x-1/2 p-3 rounded-md bg-red-500 text-white">
            <span class="inline-block mt-1 mb-1">
                <%= error %>
            </span>
        </div>
        <% } %>

            <div class="flex h-screen px-20">
                <!-- Left Section: Register -->

                <div class="w-1/2 flex items-center justify-center">
                    <div class="w-full max-w-md px-10 py-12 bg-white rounded-lg shadow-lg">
                        <h3 class="text-4xl mb-4 text-center text-blue-400 font-semibold">Welcome to Scatch</h3>
                        <h4 class="text-2xl mb-6 text-center">Create your account</h4>
                        <form autocomplete="off" action="/users/register" method="post">
                            <input class="input-field" type="text" placeholder="Full Name" name="fullname" required>
                            <input class="input-field" type="email" placeholder="Email" name="email" required>
                            <input class="input-field" type="password" placeholder="Password" name="password" required>
                            <button class="btn-primary" type="submit">Create My Account</button>
                        </form>
                    </div>
                </div>

                <!-- Right Section: Login -->
                <div class="w-1/2 flex items-center justify-center">
                    <div class="w-full max-w-md px-10 py-12 bg-white rounded-lg shadow-lg">
                        <h4 class="text-2xl mb-6 text-center">Login to your account</h4>
                        <form autocomplete="off" action="/users/login" method="post">
                            <input class="input-field" type="email" placeholder="Email" name="email" required>
                            <input class="input-field" type="password" placeholder="Password" name="password" required>
                            <button class="btn-primary" type="submit">Login</button>
                        </form>
                    </div>
                </div>
            </div>

            <%- include('./partials/footer') %>