<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/sheryjs/dist/Shery.css" />
    <link rel="stylesheet" href="stylesheets/styleland.css">
</head>

<body>
    <div id="main">
        <div id="back">
            <img src="/images/IMG_7564.jpg" alt="">
            <img src="/images/IMG_7565.jpg" alt="">
            <img src="/images/IMG_7566.jpg" alt="">
            <img src="/images/IMG_7567.jpg" alt="">
            <img src="/images/IMG_7568.jpg" alt="">
            <img src="/images/IMG_7569.jpg" alt="">
            <img src="/images/IMG_7570.jpg" alt="">
        </div>
        <div id="top">
            <div id="workingarea">
                <div id="nav">
                    <div id="nleft">
                        <b style="font-size: 50px; color: white;">Scatch</b>
                        <a href="/">Products</a>
                        <a href="/">About</a>
                    </div>
                    <div id="nright">
                        <a href="/">LUXE</a>
                        <a href="/">Pricing</a>
                    </div>
                </div>
                <div id="hero">
                    <div id="heroleft">
                        <div class="elem">
                            <h1>Premium Leather Bags</h1>
                            <h1>Luxury Travel Bags</h1>
                            <h1>Handcrafted Designer Bags</h1>
                            <h1>Elegant Tote Bags</h1>
                            <h1>Exclusive Collection</h1>
                        </div>
                        <div class="elem">
                            <h1>Exudes Elegance</h1>
                            <h1>Embodies Luxury</h1>
                            <h1>Defines Sophistication</h1>
                            <h1>Crafted for Excellence</h1>
                            <h1>Makes a Statement</h1>
                        </div>
                        <div class="elem">
                            <h1>In Every Stitch.</h1>
                            <h1>and Style</h1>
                            <h1>Catch.</h1>
                            <h1>Pass</h1>
                            <h1>Chic.</h1>
                        </div>
                        <button onclick="window.location.href = '/'">Explore Now</button>
                    </div>
                    <div id="heroright">
                        <p>Discover the epitome of luxury and craftsmanship with our premium collection of bags. Each
                            piece is meticulously
                            designed to complement your style and offer unparalleled comfort and durability.</p>
                        <div id="imagediv">


                        </div>
                        <p>Whether you're traveling the world or heading to a boardroom meeting, our bags ensure you do
                            it in style. Explore our
                            exclusive range today and elevate your everyday.</p>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/0.155.0/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/automat/controlkit.js@master/bin/controlKit.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/sheryjs/dist/Shery.js"></script>

    <script src="/javascript/script.js"></script>
</body>

</html>